* {
  font-family: Roboto;
  text-align: center;
}

.ustkutumetin {
  text-align: center;
  margin: auto;
  margin-top: -15px;
}

.ustkutumetin h1 {
  font-size: 40px;
}
.ustkutumetin p {
  font-size: 25px;
}

.yanyana {
  display: flex;
}

.altalta {
  display: flex;
  flex-direction: column;
}

.ortayatopla {
  font-size: 25px;
  width: 500px;
  margin: auto;
}

.anabolum p {
  background-color: #ddb9a3;
  color: white;
  padding: 2px;
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
}

.headerphoto img {
  margin-left: 10px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.icon img {
  width: 100px;
  height: 100px;
}

.altustkutu nav a {
  font-size: 20px;
  margin: 0 200px;
  color: black;
  display: inline-block;
  padding: 20px;
  border-radius: 20px;
}
.gezi {
  background-color: #ff764e;
}
.bilgi {
  background-color: #5ed3eb;
}
.karsi {
  background-color: #ffcd69;
}

.altustkutu nav a:hover {
  background: white;
  color: blue;
}

footer {
  height: 250px;
  background-color: #f9e7dc;
  color: white;
  background-image: url("assets/footer_img.jpg");
}

.altustkutu {
  background-color: #ddb9a3;
  padding: 20px;
}
